main {
    display: flex;
    flex-direction: column;
    margin: 70px 0 70px;
    overflow-y: scroll;
}

form {
    display: flex;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    max-width: 720px;
}

form > button {
    width: 150px;
    background-color: aquamarine;
    padding: 12px 24px;
}

form > input {
    width: 100%;
}