body {
  background-color: #36444a;
  margin: 0 auto;
  width: 720px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  height: 70px;
  background-color: black;
  max-width: 720px;
  width: 100%;
  color: beige;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: darkcyan;
}
